body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3f5f7a;
  transition: background-color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay-expanded {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
